<h1> {{name}} </h1>

<dl>

  <td>Nombre:</td>
  <dd> {{name}} </dd>

  <td>Edad:</td>
  <dd> {{age}} </dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitaizado:</td>
  <dd> {{capitalizedName}} </dd>

</dl>

<!-- Desaparece el boton cambiar nombre -->
<button
  *ngIf="name !== 'Spiderman' "
  (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<!-- Desaparece el boton cambiar edad -->
<button
  *ngIf="age !==25"
  (click)="changeAge()" class="btn btn-primary">
  Cambiar edad
</button>


<!-- Hace que aparezcan los botones: cambiar nombre y cambiar edad. -->
<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
  Reset
</button>
